<div role="tabpanel" class="tab-pane  animated active fadeIn" id="tabs_desc_434_7">
								<h3>List of Faculty membership in Professional bodies</h3>

<table style="width:800px;">
<tbody>
<tr>
<td><p><strong>Sl.no</strong></p></td>
<td><p><strong>Faculty Name</strong></p></td>
<td><p><strong>Membership</strong></p></td>
<td><p><strong>Membership No.</strong></p></td>
</tr>
<tr>
<td><p>1</p></td>
<td><p>Dr. S. Shanthala</p></td>
<td><p>Member of Indian Society of Technical Education (MISTE)
IMAPS</p></td>
<td><p></p></td>
</tr>
<tr>
<td><p>2</p></td>
<td><p>Dr. M. Rajeswari</p></td>
<td><p>Member of Indian Society of Technical Education (MISTE)<br><br>
Member of International Association of Engineers(IAENG)<br><br>
International Association of Computer Science and Information Technology (IACSIT)<br><br>
IMAPS<br><br>
IETE</p></td>

<td><p>LM66339<br><br>

111899<br><br>

80340860<br><br>

LM463<br><br>
M-500965</p></td>
</tr>
<tr>
<td><p>3</p></td>
<td><p>N. Chethan Anand</p></td>
<td><p>Member of Indian Society of Technical Education (MISTE)
</p></td>
<td><p>LM10670</p></td>
</tr>
<tr>
<td><p>4</p></td>
<td><p>B. Sudha</p></td>
<td><p>Member of Indian Society of Technical Education (MISTE)
IMAPS</p></td>
<td><p></p></td>
</tr>
<tr>
<td><p>5</p></td>
<td><p>Dr. S. Shanthala</p></td>
<td><p>Member of Indian Society of Technical Education (MISTE)
IMAPS</p></td>
<td><p>LM66338</p></td>
</tr>
<tr>
<td><p>6</p></td>
<td><p>N. G. Girirsh Kumar</p></td>
<td><p>The Institution of Analysts &amp; Programmers, London</p></td>
<td><p>23578</p></td>
</tr>
<tr>
<td><p>7</p></td>
<td><p>A. R. Manjula</p></td>
<td><p>Member of Indian Society of Technical Education (MISTE)
IMAPS</p></td>
<td><p>LM71703</p></td>
</tr>
</tbody>
</table>


<h1>  MoU</h1>

<p>A Memorandum of Understanding (MoU) is a formal agreement between two or more parties. </p>
<p>
organizations use MoUs to establish official partnerships.</p>

<h2>Objectives of MoU</h2>

<p>The MoU is intended to recognize the general basis for a cooperative and a collaborative working relationship between the two parties. The purpose of MoU is to have mutual intentions to jointly work on projects required for industries and research needs, with learned faculty of good industrial experience and promising students, jointly agree to exchange their expertise for mutual benefit and growth, on the areas specified below:</p>

<ul>
<p>
    • Industrial Visits<br>
    • In-plant Training &amp; special Technical Training to make the students industry-ready<br>
    • Guest Lectures<br>
    • Mini Projects and Main Project Work<br>
    • Research &amp; Development<br>
    • Problem Solving<br>
    • Studies &amp; Survey<br>
    • Placements<br>
    • Internships<br>
    • Establishing Advanced Labs<br>
</p>
</ul>

<h3>MOU activities of 2018-19 Academic year</h3>

<p>
</p><table>
<tbody><tr>
<td><p><strong>Sl No.</strong></p><p></p></td>
<td><p><strong>Date</strong></p><p></p></td>
<td><p><strong>MOU Company</strong></p><p></p></td>
<td><p><strong>Activity</strong></p><p></p></td>
<td><p><strong>Topic</strong></p><p></p></td>
<td><p><strong>Participants</strong></p><p></p></td>
</tr>

<tr>
<td><p>1</p></td>
<td><p>Oct 2018</p></td>
<td><p>Let’s Tagon</p></td>
<td><p>AICTE FDP
Proposal</p></td>
<td><p>Training Teachers for Organizational Skill Development: Innovative Student Induction
Program</p></td>
<td><p>1 Faculty</p></td>
</tr>
<tr>
<td><p>2</p></td>
<td><p>Feb – April
2019</p></td>
<td><p>Technilab
Instruments</p></td>
<td><p>Final Year
Project
</p></td>
<td><p>Antenna Fabrication</p></td>
<td><p>2 Batches</p></td>
</tr>
<tr>
<td>3</td>
<td><p>28th – 29th January 2019</p></td>
<td><p>Arts</p></td>
<td><p>Workshop</p></td>
<td><p>2- day National Level workshop on ADS towards RF Circuit
Design</p></td>
<td><p>30 Faculties</p></td>
</tr>
<tr>
<td><p>4</p></td>
<td><p>11/09/2018</p></td>
<td><p>Pin core Technologies</p></td>
<td><p>Talk</p></td>
<td><p>Influence of Academic Project in the Budding Engineering Career</p></td>
<td><p>82 Students</p></td>
</tr>
<tr>
<td><p>5</p></td>
<td><p>05/10/2018</p></td>
<td><p>Haribon Aeronautics</p></td>
<td><p>Talk</p></td>
<td><p>Embedded Systems and IOT in Fisheries and
Aquaculture</p>
</td>
<td><p>80 Students</p></td>
</tr>
<tr>
<td><p>6</p></td>
<td><p>Jan 2019</p></td>
<td><p>Haribon
Aeronautics</p></td>
<td><p>Internship</p></td>
<td><p>Embedded Systems</p></td>
<td><p>4 Students</p></td>
</tr>
<tr>
<td><p>7</p></td>
<td><p>Oct 2018</p></td>
<td><p>Haribon Aeronautics</p></td>
<td><p>VGST
Proposal</p></td>
<td><p>Water Quality Monitoring and
Automizing Using embedded system and IOT(CESEM)</p></td>
<td><p>1 Faculty</p></td>
</tr>
</tbody>
</table>
<p></p>

<h3>MOU activities of 2017-18 Academic year</h3>
<table>
<tbody>
<tr>
<td><p><strong>Sl No.</strong></p><p></p></td>
<td><p><strong>Date</strong></p><p></p></td>
<td><p><strong>MOU Company</strong></p><p></p></td>
<td><p><strong>Activity</strong></p><p></p></td>
<td><p><strong>Topic</strong></p><p></p></td>
<td><p><strong>Participants</strong></p><p></p></td>
</tr>

<tr>
<td><p>1</p></td>
<td><p>Oct 2018</p></td>
<td><p>Haribon Aeronautics</p>
</td>
<td><p>VGST
(CISEE)
Proposal</p></td>
<td><p>Development and implementation of Automatic feature extraction algorithm for monitoring of Horticultural crops using UAV imagery</p></td>
<td><p>1 Faculty</p></td>
</tr>
<tr>
<td><p>2</p></td>
<td><p>August 
2017</p></td>
<td><p>Haribon Aeronautics</p></td>
<td><p>SERB-IMPRINT2
Proposal</p></td>
<td><p>Monitoring of Agricultural and Horticulture crops using Unmanned Aerial Vehicles (UAVs) Imaginary,<br>Implementation of Automatic Feature Extraction Algorithms for specific Crop Health, Yield and Extrapolating with Satellite Imagery.</p></td>
<td><p>1 Faculty</p></td>
</tr>
<tr>
<td><p>3</p></td>
<td><p>29th -30th Jan 2018</p></td>
<td><p>Technilab Instruments</p></td>
<td><p>Workshop</p></td>
<td><p>Conducted Two day Workshop on Microwave and Antenna Laboratory</p></td>
<td><p>27 participants</p></td>
</tr>
<tr>
<td><p>4</p><p></p></td>
<td><p>16th -20th  Jan 2018</p></td>
<td><p>vAdvanced Electronic Systems</p></td>
<td><p>FDP</p></td>
<td><p>FDP on Design of Embedded System with ARM Cortes M-3</p></td>
<td><p>30  participans</p></td>
</tr>
</tbody>
</table>

<p align="center">
<img src="https://bit-bangalore.edu.in/wp-content/uploads/2019/09/tce.jpg">
</p>

<h1>Workshops, Seminars Talks and Industrial Visits help in Enrichment of Skill Sets of Faculty and Students.</h1>

<br>

<h2>List of Technical Talk/Workshops/Seminars/Industry Visits Conducted/Organized</h2>

<table>
<tbody>
<tr>
<td><p><strong>Sl.No.</strong></p><p></p></td>
<td><p><strong>Date</strong></p><p></p></td>
<td><p><strong>Name of the Program </strong></p><p></p></td>
<td><p><strong>No. Of Participants </strong></p><p></p></td>
<td><p><strong>Conducted By</strong></p><p></p></td>
</tr>
<tr><td colspan="6" style="text-align:center;"><p><strong>2018-19</strong></p><p></p></td></tr>
<tr>
<td><p>1</p></td>
<td><p>28.01.2019 – 29.01.2019</p></td>
<td><p>National level workshop on Hands on ADS towards RF Circuit Design</p></td>
<td><p>30</p></td>
<td><p>Keysight India &amp; ARTS</p></td>
</tr>
<tr>
<td><p>2</p></td>
<td><p>11-01-2019</p></td>
<td><p> Talk on career Guidance by Alumni Srinidhi</p></td>
<td><p>45</p></td>
<td><p>TESA</p></td>
</tr>
<tr>
<td><p>3</p><p></p></td>
<td><p>18-02-2019</p><p></p></td>
<td><p>Industrial Visit to IIA</p><p></p></td>
<td><p>32</p><p></p></td>
<td></td>
</tr>
<tr>
<td><p>4</p><p></p></td>
<td><p>16-02-2019</p><p></p></td>
<td><p>Alumni meet</p><p></p></td>
<td><p>25</p><p></p></td>
<td><p>College</p><p></p></td>
</tr>
<tr>
<td><p>5</p><p></p></td>
<td><p>23-03-2019</p><p></p></td>
<td><p>vIISc-Open day</p><p></p></td>
<td><p>34</p><p></p></td>
<td></td>
</tr>
<tr>
<td><p>6</p><p></p></td>
<td><p>06-10-2018</p><p> </p></td>
<td><p>Industrial Visit to ALS</p><p></p></td>
<td><p>40</p><p></p></td>
<td></td>
</tr>
<tr>
<td><p>7</p><p></p></td>
<td><p>06-10-2018</p><p></p></td>
<td><p>Ph. D Comprehensive  Viva – Voca  Examination</p><p></p></td>
<td></td>
<td></td>
</tr>
<tr>
<td><p>8</p><p></p></td>
<td><p>05-10-2018</p><p></p></td>
<td><p>Technical Talk on ““Embedded systems and IOT in Fisheries and Aquaculture”</p><p></p></td>
<td><p>80</p><p></p></td>
<td><p>TechniLabs India Ltd.</p><p></p></td>
</tr>
<tr>
<td><p>9</p><p></p></td>
<td><p>11-09-2018</p><p></p></td>
<td><p>Technical Talk on “Influence of Academic Project in the Budding Engineering Career”.</p><p></p></td>
<td><p>80</p><p></p></td>
<td><p>Keysight India &amp; ARTS</p><p></p></td>
</tr>
<tr>
<td><p>10</p><p></p></td>
<td><p>03-05-2019</p><p></p></td>
<td><p>Project Exhibition</p><p></p></td>
<td></td>
<td></td>
</tr>

<tr><td colspan="6" style="text-align:center;"><p><strong>2017-18</strong></p><p></p></td></tr>
<tr>
<td><p>1</p><p></p></td>
<td><p>02-05-2018</p><p></p></td>
<td><p>State Level Project Model Exhibition &amp; Contest –TECHNOVATE-2018</p><p></p></td>
<td></td>
<td></td>
</tr>

<tr>
<td><p>2</p><p></p></td>
<td><p>29.01.2018 - 30.01.2018</p><p></p></td>
<td><p>vMicrowave and Antennas Laboratory</p><p></p></td>
<td><p>49</p><p></p></td>
<td><p>TechniLabs India Ltd.</p><p></p></td>
</tr>

<tr>
<td><p>3</p><p></p></td>
<td><p>16.01.2018 – 20.01.2018</p><p></p></td>
<td><p>Design of Embedded Systems with ARM Cortex M-3</p><p>v</p></td>
<td><p>37</p><p></p></td>
<td><p>ALS</p><p></p></td>
</tr>

<tr>
<td><p>4</p><p></p></td>
<td><p>23.02.2018</p><p></p></td>
<td><p>IIA</p><p></p></td>
<td><p>25</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>5</p><p></p></td>
<td><p>04.05.2018</p><p></p></td>
<td><p>BMRCL</p><p></p></td>
<td><p>32</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>6</p><p></p></td>
<td><p>09.11.2017</p><p></p></td>
<td><p>Shankarapura Telephone Exchange Visit</p><p></p></td>
<td><p>50</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>7</p><p></p></td>
<td><p>12.10.2017</p><p></p></td>
<td><p>CBCS Scheme</p><p></p></td>
<td><p>40</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>8</p><p></p></td>
<td><p>15.10.2017</p><p></p></td>
<td><p>FDP on NBA &amp; CBCS Scheme</p><p></p></td>
<td><p>20</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>9</p><p></p></td>
<td><p>27.10.2017 - 30.10.2017</p><p></p></td>
<td><p>User Interface (UI) Development</p><p></p></td>
<td><p>30</p><p></p></td>
<td><p>PIN CORE TEchnologies</p><p></p></td>
</tr>

<tr><td colspan="6" style="text-align:center;"><p><strong>2016-17</strong></p><p></p></td></tr>

<tr>
<td><p>1</p><p></p></td>
<td><p>09.08.2016</p><p></p></td>
<td><p>Journey to VLSI</p><p>
</p></td>
<td><p>52</p><p></p></td>
<td></td>
</tr>
<tr>
<td><p>2</p><p></p></td>
<td><p>24.10.2016</p><p></p></td>
<td><p>ISRO-MCF Hassan</p><p>
</p></td>
<td><p>25</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>3</p><p></p></td>
<td><p>18.11.2016</p><p></p></td>
<td><p>LTE in Wire-lined and Wireless <br>Telecommunication Networks</p><p></p></td>
<td><p>50</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>4</p><p></p></td>
<td><p>05.01.2017</p><p></p></td>
<td><p>Preparation for Accreditation</p><p></p></td>
<td><p>20</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>5</p><p></p></td>
<td><p>13.03.2017-14.03.2017</p><p></p></td>
<td><p>National Level Workshop cum Championship on Internet of Things using ARDUINO - ROBO FEAST-2017</p><p>
</p></td>
<td><p>85</p><p></p></td>
<td><p>IIT Roorkie</p><p></p></td>
</tr>

<tr>
<td><p>6</p><p></p></td>
<td><p>06.05.2017</p><p></p></td>
<td><p>ALS</p><p></p></td>
<td><p>54</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>7</p><p></p></td>
<td><p>27.04.2017</p><p></p></td>
<td><p>Global Navigation Satellite Systems</p><p></p></td>
<td><p>53</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>8</p><p></p></td>
<td><p>13.04.2017</p><p></p></td>
<td><p>Research and Development opportunities in UAV’s, IOT &amp; Image Processing</p><p></p></td>
<td><p>50</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>9</p><p></p></td>
<td><p>17-05-2017</p><p></p></td>
<td><p>Project Exhibition</p><p></p></td>
<td></td>
<td></td>
</tr>


<tr><td colspan="6" style="text-align:center;"><p><strong>2015-16</strong></p><p></p></td></tr>


<tr>
<td><p>1</p><p></p></td>
<td><p>30.09.2015</p><p></p></td>
<td><p>ISRO-ISAC Bangalore</p><p></p></td>
<td><p>50</p><p></p></td>
<td></td>
</tr>

<tr>
<td></td>
<td><p>05/05/2016</p><p></p></td>
<td><p>Project Exhibition</p><p></p></td>
<td></td>
<td></td>
</tr>

<tr>
<td><p>2</p><p></p></td>
<td><p>20.02.2016</p><p></p></td>
<td><p>Personality Development Talk</p><p>
</p></td>
<td><p>61</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>3</p><p></p></td>
<td><p>27.07.2016 - 29.07.2016</p><p>
</p></td>
<td><p>Mat Lab &amp; Simulink for Science and Engineering Applications with Hands on Training</p><p></p></td>
<td><p>65</p><p></p></td>
<td><p>KSCST<br>VTU</p><p></p></td>
</tr>

<tr>
<td><p>4</p><p></p></td>
<td><p>15.10.2015 - 17.10.2015</p><p>
</p></td>
<td><p>Universal Software Radio Peripheral (USRP)</p><p></p></td>
<td><p>33</p><p></p></td>
<td></td>
</tr>

<tr>
<td><p>5</p><p></p></td>
<td><p>29.07.2015 - 30.07.2015</p><p>v
</p></td>
<td><p>Statistical &amp; Numerical Trends in Engineering</p></td>
<td><p>145</p></td>
<td><p>KSTA</p></td>
</tr>


</tbody>
</table>


<div class="row>

<div class=" col-lg-6"="">
<div>
<img src="https://bit-bangalore.edu.in/wp-content/uploads/2019/09/worktce.png" style="width:540px;height:350px;float:left">
</div>
<div>
<img src="https://bit-bangalore.edu.in/wp-content/uploads/2019/09/worktce1.png" style="width:540px;height:350px;float:right;">
</div>
<br>

<div>
<img src="https://bit-bangalore.edu.in/wp-content/uploads/2019/09/worktce2.png" style="width:540px;height:350px;float:left;">
</div>
<div>
<img src="https://bit-bangalore.edu.in/wp-content/uploads/2019/09/worktce3.png" style="width:540px;height:350px;float:right;">
</div>

</div>
</div>